.notes {
  margin-top: 30px;
}

.notes__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  color: #323232;
}

.notes__btn {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  background: #EEE8F4;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: #6750a4;
  padding: 18px 20px;
  border-radius: 16px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.notes__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 30px;
  
  &.active {
    grid-template-columns: 1fr;
  }
}