.card {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  background: #F7F2F9;
  border-radius: 16px;
  padding: 16px;
}

.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #1c1b1f;
}

.card__date {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: #cac4d0;
}

.card__desc {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  margin-top: 16px;
}

.card__controls {
  display: flex;
  margin-top: 17px;
  justify-content: end;
}